* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: #245953;
}

header > h1#title {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
}

header > h1#title > a {
  text-decoration: none;
  color: #d8d8d8;
}

main {
  background-color: #d8d8d8;
  padding: 22px;
}

main > article {
  background-color: #e49393;
  width: 90%;
  margin: auto;
  padding: 22px 0;
}

main > article > .sub-title {
  padding-left: 22px;
}

.section-title {
  font-size: 28px;
}

main > article#profile {
  height: 250px;
  margin-bottom: 50px;
  
}

main > article > section {
  padding: 20px;
}

main > article#profile section.image-container {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  float: left;
}

main section.image-container > #profile-image {
  width: 100%;
}

main section#profile-info {
  float: right;
  margin-right: 100px;
}

main section > h3 {
  margin-bottom: 20px;
}

main section#profile-info p {
  font-size: 20px;
}

main article#belt {
  width: 100%;
  background-color: yellow;
}

main article#info {
  height: 500px;
}

main article#info > section {
  width: 40%;
}

main article#info > h2 {
  margin-bottom: 20px;
}


main article#info > section#education {
  width: 35%;
  height: 35%;
  background-color: #408e91;
  float: left;
  margin-left: 100px;
  margin-bottom: 50px;

}

main article#info > section#career {
  width: 35%;
  height: 80%;
  background-color: #245953;
  float: right;
  margin-right: 100px;
}

main article#info > section#tmi {
  width: 35%;
  height: 35%;
  background-color: #408e91;
  float: left;
  margin-left: 100px;
}

footer {
  height: 80px;
  color: #d8d8d8;
  background-color: #408e91;
}

footer div {
  height: 80px;
}

footer div p {
  color: #d8d8d8;
  text-align: center;
  line-height: 40px;
}
